@import '_connom';

#log{height:106px;width:100%;
		.go{float:left;margin-top:20px;margin-right:200px;}
		
	.u-r{float:right;width:523px;height:50px;margin-top:20px;
		li{float:left;width:106px;
			span{display:inline-block;width:20px;height:20px;border-radius:50%;background:#ddd;margin-left:36px;margin-top:5px;text-align:center;color:#fff;}
			div{text-align:center;margin-top:5px;color:#ccc;}
			
		}
		.progress01{
			.prog-item{background-color: #ff738f;}
			div{color:#ff738f;}

		}
		.progress02{width:150px;position:relative;
			  span{margin-left:60px;}
			  .prog-line{display:block;height:4px;width:115px;background:#ddd;position:absolute;left:-50px;top:12px;}
		}
		.progress03{position:relative;
			 .prog-line{display:block;height:4px;width:106px;background:#ddd;position:absolute;right:70px;top:12px;}
		}
	}
  
}



#tab{width:100%;margin-bottom:30px;
	.con{width: 1244px; margin: 0 auto;

		table{width:1244px;height:400px;
			input{width:20px;height:20px;}

			thead{display:block;width:100%;height:48px;background:#F9F9F9;border:1px solid #ccc;color:#99A5C0;
				th{width:140px;line-height:48px;font-size:22px;

				}
				.goo{width:350px;}
			}



			tbody{display:block;width:1244px;
				input{margin-left:60px;}
				.t1{display:block;height:65px;line-height:65px;
					td{padding:0 6px;font-size:18px;
					
					}
				 }
				 .t2{display:block;border:1px solid #ccc;height:120px;
				 	td{padding-top:20px;width:140px;}
				 	.gn{width:300px;padding-top:0;line-height:80px;
				 		a{color:#000;
				 			&:hover{color:red;}
				 		}
				 	}

				 	span{font-size:18px;color:#000;}
				 	.input{width:120px;text-align:center;line-height:30px;
				 		p{width:100px;height:38px;border:1px solid #ccc;font-size:18px;
				 			span{text-align:center;}
				 		}
						
				 		input{font-size:18px;margin:0 2px;border-left:1px solid #ccc;border-right:1px solid #ccc;width:30px;height:90%;}
				 		
				 	}
				 	.del a{font-size:22px;
				 		&:hover{color:red;}
				 	}
				 	.kk{width:78px;height:92px;
				 		img{width:75px;height:80px;border:1px solid #ccc;}
				 	}
				 }

				 .t3{display:block;text-align:right;line-height:80px;height:86px;
				 	td{font-size:20px;}
				 	.tal{padding-left:480px;}
				 	.price{width:80px;font-size:26px;color:red;}
				 	.ex{font-size:12px;padding-left:5px;padding-top:10px;}

				 }
			}



			tfoot{display:block;width:1244px;height:86px;background:#F9F9F9;border:1px solid #ccc;
				tr{display:block;line-height:86px;font-size:22px;color:#7A7979;position:relative;
					input{margin-left:60px;}
					td{padding:0 20px;height:86px;}
					.total{padding-left:100px;padding-right:0;}
					.pr{width:200px;color:red;font-size:24px;padding-left:0;}
					.baohan{font-size:14px;color:#ccc;padding-right:40px;
						padding-top:20px;
					}
					.but{width:168px;background:#FF5073;position:absolute;right:0;top:0;}
				}
			}
		}
	}
	
}