@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0; }

fieldset, img, input, button {
  border: 0 none;
  padding: 0;
  margin: 0;
  outline-style: none; }

/*È¥µôinputµÈ¾Û½¹Ê±µÄÀ¶É«±ß¿ò*/
ul, li, ol {
  list-style: none; }

select, input {
  vertical-align: middle; }

textarea {
  resize: none; }

/*·ÀÖ¹ÍÏ¶¯*/
img {
  border: 0;
  vertical-align: middle; }

/*  È¥µôÍ¼Æ¬µÍ²âÄ¬ÈÏµÄ3ÏñËØ¿Õ°×·ìÏ¶£¬»òÕßÓÃdisplay£ºblockÒ²¿ÉÒÔ*/
table {
  border-collapse: collapse; }

a {
  text-decoration: none; }

body {
  font: 12px/150% Arial,Verdana,"宋体";
  color: #555555; }

img {
  image-rendering: -webkit-optimize-contrast; }

body.bgf8 {
  background: #f8f8f8; }

body.bgf8 .header_box990 {
  background: none; }

* {
  margin: 0px auto; }

/*2.Ìí¼Ó¹«¹²ÑùÊ½*/
/*body {
    font:12px Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff;
}*/
/*Çå³ý¸¡¶¯£¨²»¹Ü£©*/
.clearfix:before, .clearfix:after {
  /*Çå³þ¸¡¶¯*/
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  /*IE/7/6*/ }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em; }

/*ÉèÖÃh±êÇ©µÄ´óÐ¡£¬ÉèÖÃ¸ú¸¸Ç×Ò»Ñù´óµÄ×ÖÌåfont-size:100%;*/
s, i, em {
  font-style: normal;
  text-decoration: none; }

/*¹«¹²Àà*/
.con {
  /*ÄÚÈÝ¡¢°æÐÄ ÌáÈ¡ */
  width: 1244px;
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.ac {
  text-align: center; }

.hide {
  display: none; }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
  zoom: 1; }

/*¿í¸ß×ÔÊÊÓ¦*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
  zoom: 1; }

article, aside, canvas, details, figcaption, figure, main, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html, body {
  height: 100%; }

#nav {
  height: 46px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  #nav .h2 {
    background: #F2F2F2;
    width: 160px;
    float: left;
    height: 46px;
    text-align: left;
    line-height: 50px;
    font-size: 20px;
    postion: relative; }
    #nav .h2 a {
      color: #000;
      font-weight: bold;
      padding-left: 20px; }
    #nav .h2 i {
      line-height: 46px;
      font-weight: bold; }
    #nav .h2 .nav2 {
      display: none;
      position: absolute;
      left: 313px;
      top: 172px;
      z-index: 1000;
      width: 1244px; }
      #nav .h2 .nav2 .bb {
        float: right;
        width: 50px;
        height: 50px; }
      #nav .h2 .nav2 .u1 > li {
        width: 223px;
        height: 240px;
        float: left; }
        #nav .h2 .nav2 .u1 > li h4 {
          height: 42px;
          background: #f9f9f9;
          width: 233px; }
        #nav .h2 .nav2 .u1 > li ul li {
          padding: 0; }
          #nav .h2 .nav2 .u1 > li ul li a {
            color: #ccc; }
            #nav .h2 .nav2 .u1 > li ul li a:hover {
              color: red; }
  #nav ul li {
    float: left;
    line-height: 46px;
    font-size: 16px;
    padding: 0 15px; }
    #nav ul li a {
      color: #000; }
    #nav ul li a:hover {
      color: red; }

#str {
  height: 62px;
  width: 100%;
  margin-top: 10px; }
  #str ul {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 60px;
    overflow: hidden;
    line-height: 60px;
    font-size: 14px; }
    #str ul li {
      float: left; }
      #str ul li span {
        border-right: 1px solid #ccc;
        padding: 0 10px; }
      #str ul li select {
        width: 68px;
        height: 35px; }
      #str ul li .span {
        display: block;
        height: 50px;
        width: 30px; }

#man {
  width: 100%;
  padding-bottom: 20px; }
  #man .goodslist {
    overflow: hidden;
    margin-top: 20px; }
    #man .goodslist li {
      float: left;
      width: 296px;
      height: 510px;
      border-top: 1px solid #ccc;
      padding-left: 10px;
      text-align: center;
      margin-top: 5px; }
      #man .goodslist li:hover {
        border-top-color: #fff;
        transition: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
      #man .goodslist li img {
        width: 200px;
        height: 190px;
        margin-bottom: 50px; }
      #man .goodslist li h4 {
        font-size: 18px;
        color: #000; }
        #man .goodslist li h4:hover {
          color: red; }
      #man .goodslist li p {
        padding: 20px;
        color: #ccc;
        font-size: 20px; }
      #man .goodslist li .price {
        color: 20px;
        color: red; }
      #man .goodslist li .aa {
        display: block;
        width: 114px;
        height: 46px;
        background: #ccc;
        color: #000;
        line-height: 46px;
        font-size: 12px; }
        #man .goodslist li .aa:hover {
          transition: 0.5s;
          background: red;
          color: #fff;
          font-size: 14px; }

/*# sourceMappingURL=list.css.map */
